<h1>GET Request Received:</h1>
<table>
  <tr>
    <th>Key</th>
    <th>Value</th> 
  </tr>
  {{#each objects}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.value}}</td> 
  </tr>
  {{/each}}
</table>